@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <br />
    <img src="~/images/logotipo.jpg" class="image" width="50%" />
    <br /><br /><br /><br />
    <h1 class="display-4">¡Bienvenido al sistema del Restaurante!</h1>
</div>
