@model Empleado
@{ 
    var returnUrl = ViewData["ReturnUrl"] as String;
    var error = TempData["ReturnUrl"] as String;
    ViewData["Title"] = "Ingresar";
}

<div class="jumbotron">
    <h1 class="display-4">Ingresar</h1>
    <hr class="my-4">
    <p>Ingresar con una cuenta</p>
</div>

<form method="post" action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)">
    <div class="container table">
        <div class="row">
            <div class="col-md-5">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Cédula</label>
                    <input type="text" name="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-control" />
                </div>
                <br />
                @if (!string.IsNullOrEmpty(error))
                {
                    <h2 class="alert-danger" style="padding:20px;">@error</h2>
                    <br />
                }
                <br />
                <button type="submit" class="btn btn-secondary" style="color:black !important;">Ingresar</button>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
