@model FacturaPlatilloViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editando Factura del Platillo";
}



<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



    @if (Model.FacturaPlatillo.Id > 0)
    {
        <input type="hidden" asp-for="FacturaPlatillo.Id" />
    }


<div class="container table-info">
    <div class="row justify-content-center text-center" style="color:lightgoldenrodyellow">
        <div style="margin:10px; border:groove"  class="col-6 bg-primary fw-bold">
            <h2>
                @if (Model.FacturaPlatillo.Id > 0)
                {<span>Editando</span> }
                else
                { <span>Creando</span>} Factura del Platillo
            </h2>
        </div>
    </div>


    <div class="row form-group justify-content-center">
        <div style="padding-bottom: 15px; padding-top: 20px; color: lightgoldenrodyellow" class="col-md-2 bg-primary fw-bold text-center"><label asp-for="FacturaPlatillo.IdFactura"></label></div>
        <div style="padding-bottom: 15px; padding-top: 20px; color: lightgoldenrodyellow" class="col-4 bg-primary fw-bold text-center">
            @Html.DropDownListFor(s => s.FacturaPlatillo.IdFactura, Model.Facturas, "- Seleccione el ID de la factura...", new { @class = "form-control" })
            <span asp-validation-for="FacturaPlatillo.IdFactura" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group justify-content-center">
        <div style="padding-bottom: 15px; padding-top: 20px; color: lightgoldenrodyellow" class="col-md-2 bg-primary fw-bold text-center"><label asp-for="FacturaPlatillo.IdPlatillo"></label></div>
        <div style="padding-bottom: 15px; padding-top: 20px; color: lightgoldenrodyellow" class="col-4 bg-primary fw-bold text-center">
            @Html.DropDownListFor(s => s.FacturaPlatillo.IdPlatillo, Model.Platillos, "- Seleccione el ID del platillo...", new { @class = "form-control" })
            <span asp-validation-for="FacturaPlatillo.IdPlatillo" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group justify-content-center">
        <div style="padding-bottom: 15px; padding-top: 20px; color: lightgoldenrodyellow" class="col-md-2 bg-primary fw-bold text-center"><label asp-for="FacturaPlatillo.Cantidad"></label></div>
        <div style="padding-bottom: 15px; padding-top: 20px; color: lightgoldenrodyellow" class="col-4 bg-primary fw-bold text-center">
            <input type="text" class="form-control" asp-for="FacturaPlatillo.Cantidad" />
            <span asp-validation-for="FacturaPlatillo.Cantidad" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group justify-content-center">
        <div style="padding-bottom: 15px; padding-top: 20px; color: lightgoldenrodyellow" class="col-md-2 bg-primary fw-bold text-center"><label asp-for="FacturaPlatillo.Detalle_Platillo"></label></div>
        <div style="padding-bottom: 15px; padding-top: 20px; color: lightgoldenrodyellow" class="col-4 bg-primary fw-bold text-center">
            <input type="text" class="form-control" asp-for="FacturaPlatillo.Detalle_Platillo" />
            <span asp-validation-for="FacturaPlatillo.Detalle_Platillo" class="text-danger"></span>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6 bg-primary fw-bold text-center">
            <button asp-controller="Factura_Platillo" asp-action="Index" class="btn btn-danger text-white">Cancelar</button>
            <button type="submit" class="btn btn-warning text-white">
                @if (Model.FacturaPlatillo.Id > 0)
                {<span>Actualizar</span> }
                else
                { <span>Crear</span>}
            </button>
        </div>
    </div>
</div>
</form>

<div style=" font-size:25px; align-content:center; margin:15%" class="d-flex justify-content-around text-wrap d-flex align-items-center ">
    <a href="~/Factura_Platillo">Volver al Menu de Reservacion</a>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}