@model FacturaPlatilloViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



    @if (Model.FacturaPlatillo.Id > 0)
    {
        <input type="hidden" asp-for="FacturaPlatillo.Id" />
    }


<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>
                @if (Model.FacturaPlatillo.Id > 0)
                {<span>Editando</span> }
                else
                { <span>Creando</span>} Autor
            </h2>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-4"><label asp-for="FacturaPlatillo.IdFactura"></label></div>
        <div class="col-8">
            @Html.DropDownListFor(s => s.FacturaPlatillo.IdFactura, Model.Facturas, "- Seleccione la reservación", new { @class = "form-control" })
            <span asp-validation-for="FacturaPlatillo.IdFactura" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4"><label asp-for="FacturaPlatillo.IdPlatillo"></label></div>
        <div class="col-8">
            @Html.DropDownListFor(s => s.FacturaPlatillo.IdPlatillo, Model.Platillos, "- Seleccione la reservación", new { @class = "form-control" })
            <span asp-validation-for="FacturaPlatillo.IdPlatillo" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4"><label asp-for="FacturaPlatillo.Cantidad"></label></div>
        <div class="col-8">
            <input type="text" class="form-control" asp-for="FacturaPlatillo.Cantidad" />
            <span asp-validation-for="FacturaPlatillo.Cantidad" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-4"><label asp-for="FacturaPlatillo.Detalle_Platillo"></label></div>
        <div class="col-8">
            <input type="text" class="form-control" asp-for="FacturaPlatillo.Detalle_Platillo" />
            <span asp-validation-for="FacturaPlatillo.Detalle_Platillo" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button asp-controller="Factura_Platillo" asp-action="Index" class="btn btn-secondary text-white">Cancelar</button>
            <button type="submit" class="btn btn-primary text-white">
                @if (Model.FacturaPlatillo.Id > 0)
                {<span>Actualizar</span> }
                else
                { <span>Crear</span>}
            </button>
        </div>
    </div>
</div>
</form>

<br />
<br />
<br />
<br />

<div style=" font-size:25px; align-content:center; margin:15%" class="d-flex justify-content-around text-wrap d-flex align-items-center ">
    <a href="~/Factura_Platillo">Volver al Menu de Reservacion</a>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}